body {
    background-image: url('./vazio.jpg');
    background-size: contain;
    background-size: 100% 100%; 
    width: 100vw;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.smile {
    text-align: center;
    color: red;
    margin-bottom: 5px;
}
.sun {
    text-align: center;
    margin-bottom: 5px;
}
.white {
    text-align: center;
    margin-bottom: 5px;
}
.black {
    text-align: center;
    margin-bottom: 15px;
}
.div {
    align-items: center;
    justify-content: center;
    display: flex;
}
.image {
    width: 200px;
    height: 150px;
    margin-right: 20px;
    border-radius: 10px;
}
.dive {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    color: blue;
    margin-right: 100px;
    margin-top: 10px;
    font-size: 20px;
}
.buton {
    width: 100px;
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
    color: blue;
    margin-top: 10px;
}